# Retail Sales Dataset Analysis

This notebook provides an initial exploratory data analysis (EDA) of the retail sales dataset.

In [24]:
from prophet import Prophet

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("mock_kaggle.csv")
df.head()

         data  venda  estoque  preco
0  2014-01-01      0     4972   1.29
1  2014-01-02     70     4902   1.29
2  2014-01-03     59     4843   1.29
3  2014-01-04     93     4750   1.29
4  2014-01-05     96     4654   1.29

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     937 non-null    object
 1   venda    937 non-null    int64
 2   estoque  937 non-null    int64
 3   preco    937 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 29.4+ KB

In [16]:
df.describe()

            venda      estoque       preco
count  937.000000   937.000000  937.000000
mean    90.533618  1608.258271    1.592572
std     80.682089  1356.691877    0.529502
min      0.000000     0.000000    0.000000
25%     33.000000   794.000000    1.290000
50%     76.000000  1348.000000    1.390000
75%    127.000000  1964.000000    1.890000
max    542.000000  7228.000000    2.980000

In [17]:
df.isnull().sum()

data       0
venda      0
estoque    0
preco      0
dtype: int64

In [18]:
df.duplicated().sum()

0